<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/tailwind.css}">
    <link rel="shortcut icon" type="image/svg+xml" th:href="@{/favicon-admin.svg}">
    <title>Admin</title>
</head>

<body
    class="font-sans antialiased bg-gray-100 dark:bg-slate-900 m-0 flex flex-col justify-center items-center overflow-x-hidden">
    <header class="bg-white dark:bg-slate-800 w-full py-4 shadow-md dark:shadow-lg">
        <div class="flex items-center justify-between gap-2 xl:max-w-327.5 max-w-250 w-full mx-auto px-3">
            <div class="flex flex-col gap-2">
                <h1 class="text-indigo-600 dark:text-indigo-400 font-semibold text-2xl">Sistema de Gestión de Docentes
                </h1>
                <p class="text-gray-600 dark:text-gray-400 font-semibold">Administrador</p>
            </div>
            <a class="text-gray-600 dark:text-gray-400 text-lg flex gap-2 items-center hover:text-gray-600 dark:hover:text-gray-300 dark:hover:**:fill-gray-300 hover:**:fill-gray-600 transition-colors cursor-pointer rounded-xl hover:bg-gray-100 dark:hover:bg-slate-700 px-3 py-2 whitespace-nowrap"
                th:href="@{/logout}">
                <svg class="size-4 fill-gray-600 dark:fill-gray-400">
                    <use th:href="@{/assets/main.svg#logout}" width="100%" height="100%"></use>
                </svg>
                Cerrar sesión
            </a>
        </div>
    </header>
    <main class="m-7 px-3 flex flex-col xl:flex-row gap-5 justify-center xl:max-w-full">
        <div class="flex flex-col gap-5 xl:w-75">
            <nav class="p-5 rounded-xl bg-white dark:bg-slate-800 flex flex-col gap-2 shadow-md">
                <label class="nav-option group">
                    <input type="radio" name="options" class="hidden" value="horario" checked>
                    <svg class="nav-icon">
                        <use th:href="@{/assets/main.svg#calendar}"></use>
                    </svg>
                    <span>Horario del Centro</span>
                </label>

                <label class="nav-option group">
                    <input type="radio" name="options" class="hidden" value="ausencias">
                    <svg class="nav-icon">
                        <use th:href="@{/assets/main.svg#user}"></use>
                    </svg>
                    <span>Gestión de Ausencias</span>
                </label>

                <label class="nav-option group">
                    <input type="radio" name="options" class="hidden" value="guardias">
                    <svg class="nav-icon">
                        <use th:href="@{/assets/main.svg#shield}"></use>
                    </svg>
                    <span>Cuadrante de Guardias</span>
                </label>

                <label class="nav-option group">
                    <input type="radio" name="options" class="hidden" value="asuntos">
                    <svg class="nav-icon">
                        <use th:href="@{/assets/main.svg#paper}"></use>
                    </svg>
                    <span>Asuntos Propios</span>
                </label>

                <label class="nav-option group">
                    <input type="radio" name="options" class="hidden" value="config">
                    <svg class="nav-icon">
                        <use th:href="@{/assets/main.svg#settings}"></use>
                    </svg>
                    <span>Configuración</span>
                </label>

            </nav>
            <div
                class="p-5 flex flex-col gap-2 justify-between text-gray-600 dark:text-gray-400 bg-white dark:bg-slate-800 rounded-xl shadow-md">
                <span class="flex items-center gap-2 text-indigo-600 dark:text-indigo-400">
                    <svg class="size-5 -rotate-90 fill-indigo-600 dark:fill-indigo-400">
                        <use th:href="@{/assets/main.svg#logout}" width="100%" height="100%"></use>
                    </svg>Panel de Administrador</span>
                <p>Tiene acceso completo a todas las funcionalidades del sistema</p>
            </div>

        </div>
        <div class="seccion-tab block text-black dark:text-white max-w-[75vw] min-w-250 ">
            <section class="section-unit flex flex-col gap-5" id="horario">
                <article class="p-5 flex flex-col gap-5 size-full bg-white dark:bg-slate-800 rounded-xl shadow-md">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-2.5">
                            <svg class="size-6 fill-indigo-600 dark:fill-indigo-400">
                                <use th:href="@{/assets/main.svg#calendar}"></use>
                            </svg>
                            <p>Horario del Centro</p>
                        </div>
                        <button onclick="printHorarios()"
                            class="text-white flex items-center gap-2 p-3 bg-gray-500 rounded-xl hover:bg-gray-600 transition cursor-pointer">
                            <svg class="size-6 fill-white">
                                <use th:href="@{/assets/main.svg#print}"></use>
                            </svg>
                            <span>Imprimir</span>
                        </button>
                    </div>
                    <div
                        class="rounded-xl bg-blue-400/30 dark:bg-indigo-900/50 border dark:border-indigo-900 p-5 text-indigo-600 dark:text-indigo-400">
                        Haga clic en cualquier celda para editar el horario. Los cambios se guardarán automáticamente.
                    </div>
                    <div class="flex justify-between items-center my-3">
                        <div class="flex gap-5">
                            <select
                                class="cursor-pointer focus:rounded-b-none rounded-xl hover:bg-indigo-700 bg-indigo-600 text-white p-2 focus:outline-0"
                                name="dept" id="selector-dept">
                                <option value="dept">-Departamento-</option>
                            </select>
                            <select
                                class="cursor-pointer focus:rounded-b-none rounded-xl hover:bg-indigo-700 bg-indigo-600 text-white p-2 focus:outline-0"
                                name="docente" id="selector-docente">
                                <option value="docente">-Docente-</option>
                            </select>
                        </div>
                        <button id="horario-swap-button"
                            class="text-white flex items-center justify-center gap-2 px-3 py-2 h-min bg-indigo-600 rounded-xl hover:bg-indigo-700 transition whitespace-nowrap cursor-pointer"
                            onclick="swapTables()">
                            <svg class="size-6 fill-white">
                                <use th:href="@{/assets/main.svg#swap}"></use>
                            </svg>
                            <span>Turno Mañana</span>
                        </button>
                    </div>
                    <table id="horario-tabla-mañana"
                        class="w-full text-left **:border **:border-gray-400 dark:**:border-slate-700 **:p-3 **:first:[td]:w-30 **:first:[td]:bg-black/5 dark:**:first:[td]:bg-white/5 **:[th]:bg-black/5 dark:**:[th]:bg-white/5 **:first:[td]:text-center **:[tr]:h-16 **:not-first:[td]:w-40">
                        <thead>
                            <tr class="text-center">
                                <th>Hora</th>
                                <th>Lunes</th>
                                <th>Martes</th>
                                <th>Miercoles</th>
                                <th>Jueves</th>
                                <th>Viernes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>8:30 - 9:25</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>9:25 - 10:20</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10:20 - 11:15</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="h-min! *:cursor-default!">
                                <td>11:15 - 11:45</td>
                                <td class="text-center bg-yellow-100 dark:bg-yellow-500/30 text-black dark:text-white">
                                    RECREO</td>
                                <td class="text-center bg-yellow-100 dark:bg-yellow-500/30 text-black dark:text-white">
                                    RECREO</td>
                                <td class="text-center bg-yellow-100 dark:bg-yellow-500/30 text-black dark:text-white">
                                    RECREO</td>
                                <td class="text-center bg-yellow-100 dark:bg-yellow-500/30 text-black dark:text-white">
                                    RECREO</td>
                                <td class="text-center bg-yellow-100 dark:bg-yellow-500/30 text-black dark:text-white">
                                    RECREO</td>
                            </tr>
                            <tr>
                                <td>11:45 - 12:40</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>12:40 - 13:35</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>13:35 - 14:30</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="horario-tabla-tarde"
                        class="hidden w-full text-left **:border **:border-gray-400 dark:**:border-slate-700 **:p-3 **:first:[td]:w-30 **:first:[td]:bg-black/5 dark:**:first:[td]:bg-white/5 **:[th]:bg-black/5 dark:**:[th]:bg-white/5 **:first:[td]:text-center **:[tr]:h-16 **:not-first:[td]:w-40">
                        <thead>
                            <tr class="text-center">
                                <th>Hora</th>
                                <th>Lunes</th>
                                <th>Martes</th>
                                <th>Miercoles</th>
                                <th>Jueves</th>
                                <th>Viernes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>15:30 - 16:25</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>16:25 - 17:20</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>17:20 - 18:15</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="h-min! *:cursor-default!">
                                <td>18:15 - 18:45</td>
                                <td class="text-center bg-yellow-100 dark:bg-yellow-500/30 text-black dark:text-white">
                                    RECREO</td>
                                <td class="text-center bg-yellow-100 dark:bg-yellow-500/30 text-black dark:text-white">
                                    RECREO</td>
                                <td class="text-center bg-yellow-100 dark:bg-yellow-500/30 text-black dark:text-white">
                                    RECREO</td>
                                <td class="text-center bg-yellow-100 dark:bg-yellow-500/30 text-black dark:text-white">
                                    RECREO</td>
                                <td class="text-center bg-yellow-100 dark:bg-yellow-500/30 text-black dark:text-white">
                                    RECREO</td>
                            </tr>
                            <tr>
                                <td>18:45 - 19:40</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>19:40 - 20:35</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>20:35 - 21:30</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </section>
            <section class="section-unit hidden flex-col gap-5" id="ausencias">
                <article class="p-5 flex flex-col gap-5 size-full bg-white dark:bg-slate-800 rounded-xl shadow-md">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-2.5">
                            <svg class="size-6 fill-indigo-600 dark:fill-indigo-400">
                                <use th:href="@{/assets/main.svg#user}"></use>
                            </svg>
                            <p>Gestión de Ausencias</p>
                        </div>
                        <a href="#"
                            class="text-white flex items-center gap-2 p-3 bg-indigo-600 rounded-xl hover:bg-indigo-700 transition">
                            <svg class="size-6 fill-white">
                                <use th:href="@{/assets/main.svg#plus}"></use>
                            </svg>
                            <span>Nueva Ausencia</span>
                        </a>
                    </div>
                    <div class="flex gap-4 bg-yellow-50 dark:bg-stone-900 text-amber-900 dark:text-orange-400 rounded-xl p-5 font-[450] border border-yellow-200 dark:border-stone-700">
                        <svg class="size-6 fill-yellow-600 dark:fill-yellow-700">
                            <use th:href="@{/assets/main.svg#info}"></use>
                        </svg>
                        <p>Al registrar una ausencia, el sistema asignará automáticamente una guardia siguiendo el algoritmo establecido.</p>
                    </div>
                </article>
            </section>
            <section class="section-unit hidden flex-col gap-5" id="guardias">
                <article class="p-5 flex flex-col gap-5 size-full bg-white dark:bg-slate-800 rounded-xl shadow-md">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-2.5">
                            <svg class="size-6 fill-indigo-600 dark:fill-indigo-400">
                                <use th:href="@{/assets/main.svg#shield}"></use>
                            </svg>
                            <p>Guardias</p>
                        </div>
                        <button onclick="printGuardias()"
                            class="text-white flex items-center gap-2 p-3 bg-gray-500 rounded-xl hover:bg-gray-600 transition">
                            <svg class="size-6 fill-white">
                                <use th:href="@{/assets/main.svg#print}"></use>
                            </svg>
                            <span>Imprimir</span>
                        </button>
                    </div>
                </article>
            </section>
            <section class="section-unit hidden flex-col gap-5" id="asuntos">
                <article class="p-5 flex flex-col gap-5 size-full bg-white dark:bg-slate-800 rounded-xl shadow-md">
                    <div class="flex justify-between items-center py-3">
                        <div class="flex items-center gap-2.5">
                            <svg class="size-6 fill-indigo-600 dark:fill-indigo-400">
                                <use th:href="@{/assets/main.svg#paper}"></use>
                            </svg>
                            <p>Asuntos Propios</p>
                        </div>
                    </div>
                </article>
            </section>
            <section class="section-unit hidden flex-col gap-5" id="config">
                <article class="p-5 flex flex-col gap-5 size-full bg-white dark:bg-slate-800 rounded-xl shadow-md">
                    <div class="flex justify-between items-center py-3">
                        <div class="flex items-center gap-2.5">
                            <svg class="size-6 fill-indigo-600 dark:fill-indigo-400">
                                <use th:href="@{/assets/main.svg#paper}"></use>
                            </svg>
                            <p>Configuración</p>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </main>
    <svg class="hidden size-6 bg-gray-400/20 fill-gray-600 dark:fill-gray-400" id="edit-icon">
        <use th:href="@{/assets/main.svg#edit}"></use>
    </svg>
    <dialog
        class="left-1/2 top-1/2 p-5 hidden open:flex flex-col gap-5 text-white bg-white dark:bg-slate-800 rounded-xl shadow-md"
        id="dialog-edit-horario">
        <form class="flex flex-col gap-1 caret-indigo-600" id="form-edit-horario">
            <input type="hidden" id="hidden-docente-id" name="docenteId">
            <input type="hidden" id="hidden-horario-id" name="horarioId">
            <select
                class="p-2 rounded-xl focus:rounded-b-sm bg-indigo-600 *:bg-gray-100 dark:*:bg-slate-900 *:text-black dark:*:text-white focus:outline-0"
                name="selector-ciclo" id="selector-ciclo" required>
                <option value="">-Ciclo-</option>
            </select>
            <select
                class="p-2 rounded-xl focus:rounded-b-sm bg-indigo-600 *:bg-gray-100 dark:*:bg-slate-900 *:text-black dark:*:text-white focus:outline-0"
                name="selector-asignatura" id="selector-asignatura" required>
                <option value="">-Asignatura-</option>
            </select>
            <select class="p-2 rounded-xl focus:rounded-b-sm bg-indigo-600 *:bg-gray-100 dark:*:bg-slate-900 *:text-black dark:*:text-white focus:outline-0" id="selector-dia" ...>
                <option value="">-Día-</option>
                <option value="1">Lunes</option>
                <option value="2">Martes</option>
                <option value="3">Miércoles</option>
                <option value="4">Jueves</option>
                <option value="5">Viernes</option>
            </select>
            <select class="p-2 rounded-xl focus:rounded-b-sm bg-indigo-600 *:bg-gray-100 dark:*:bg-slate-900 *:text-black dark:*:text-white focus:outline-0" id="selector-hora" ...>
                <option value="">-Hora-</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <label class="text-black dark:text-white text-sm font-medium ml-1 my-0" for="aula">Aula: </label>
            <input required autocomplete="off"
                class="w-full border border-gray-300 dark:border-slate-600 rounded-xl px-3 py-1 
                              bg-gray-50 dark:bg-slate-900 text-black dark:text-white
                              focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent transition-all" type="text" name="aula"
                id="aula">
            <div class="flex justify-start gap-2 *:cursor-pointer mt-2">
                <button class="text-white bg-green-500 px-5 py-2 rounded-xl border-none hover:bg-green-600 transition"
                    type="button" onclick="guardarHorario()">Guardar</button>
                <button class="text-white bg-red-500 px-5 py-2 rounded-xl border-none hover:bg-red-600 transition"
                    type="button" onclick="borrarHorario()">Borrar</button>
                <button class="text-white bg-gray-500 px-5 py-2 rounded-xl border-none hover:bg-gray-600 transition"
                    type="button" onclick="closeDialog('dialog-edit-horario')">Cancelar</button>
            </div>
        </form>
    </dialog>
    <div id="alerta" class="hidden cursor-crosshair z-50 bg-indigo-100 dark:bg-slate-700 border-none outline-none dark:text-white rounded-xl shadow-lg p-3 max-w-100 animate-fade-in-left overflow-hidden">
        <p id="alerta-texto"></p>
        <div id="alerta-slide" class="bg-indigo-600 dark:bg-white h-0.5 w-full animate-[deslizar-izquierda-dentro_4s_linear] transition-transform absolute bottom-0 left-0"></div>
    </div>
    <div id="alerta-cuerpo" class="fixed top-10 right-5 left-auto z-50 flex flex-col gap-2 h-screen w-100 items-end pointer-events-none"></div>
</body>
<script th:src="@{/js/admin.js}"></script>

</html>